/**/
body,select,input,button{
	font-size:1.6vw;
}
.imgbtn{
	font-size:2.0vw;
}
.cSize05ex{ width:0.5em; }
.cSize1ex{ width:1.2em; }
.cSize2ex{ width:2.5em; }
.cSize355ex{ width:36em; }
.cHSize26ex{ width:26.0em; }
.cVSize18ex{ height:18.0em; }
