/* Bridal�p���i */
body{
	background-image: url("img/back.jpg");
	background-size: cover;
}

button{
	border-radius: 5px;
}
button:active {
	-ms-transform: translate(2px,2px);
	-webkit-transform: translate(2px,2px);
	transform: translate(2px, 2px);/*���ɓ���*/
	border-bottom: none;/*��������*/
}
.imgPinkbtn{
	background-image:url("img/pinkbtnU.png");
	background-repeat:round;
	background-size:8.5em;
	border-radius: 3em;
	padding: 0.5em;
}
.imgPinkbtn:active {
	background-image:url("img/pinkbtnD.png");
}
.imgPinkbtn:hover {
	background-image:url("img/pinkbtnD.png");
}
.imgBluebtn{
	background-image:url("img/bluebtnU.png");
	background-repeat:round;
	background-size:8.5em;
	border-radius: 3em;
	padding: 0.5em;
}
.imgBluebtn:active {
	background-image:url("img/bluebtnD.png");
}
.imgBluebtn:hover {
	background-image:url("img/bluebtnD.png");
}
input::placeholder {
	color: red;
}